.main-navigation__menu-btn {
  width: 3rem;
  height: 3rem;
  background: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 2rem;
  cursor: pointer;
}

.main-navigation__menu-btn span {
  display: block;
  width: 3rem;
  height: 2.5px;
  background: white;
}

.main-navigation__title {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
}

.main-navigation__title a {
  text-decoration: none;
  color: white;
}
.main-navigation__logo {
  width: 3rem;
  margin: 0.5rem 0.5rem 0;
}

.main-navigation__header-nav {
  display: none;
}

.main-navigation__drawer-nav {
  height: 100%;
}

@media (min-width: 768px) {
  .main-navigation__menu-btn {
    display: none;
  }

  .main-navigation__header-nav {
    display: block;
  }
}

@media (max-width: 375px) {
  .main-navigation__title {
    font-size: 1.25em;
    margin: 15px 0px;
  }

  .main-navigation__logo {
    width: 2rem;
    margin: 0rem;
  }

  .main-navigation__menu-btn {
    margin-right: 2rem;
  }
}
