form.searchForm {
  text-align: center;
}
input.search-input {
  background: transparent;
  border: none;
  border-bottom: 2px solid #4d4d4d;
  color: #4d4d4d;
  width: calc(100% - 65px);
  padding: 0;
  padding-left: 5px;
  padding-bottom: 10px;
  font-size: 1rem;
  margin-left: 10px;
}
input.search-input:focus {
  outline: none;
}
input.search-input::placeholder {
  color: #4d4d4d;
  opacity: 1; /* Firefox */
  font-style: italic;
}

input.search-input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #4d4d4d;
}

input.search-input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #4d4d4d;
}
span.search-emoji {
  padding: 0;
  margin: 0;
}
button.search {
  background: transparent;
  border: none;
  border-bottom: 2px solid #4d4d4d;
  padding: 0;
  padding-bottom: 7px;
  font-size: 1rem;
  margin-right: 10px;
}
button.search:hover {
  cursor: pointer;
}
button.search:disabled {
  cursor: not-allowed;
}
button.search:focus {
  outline: none;
}

@media (min-width: 576px) {
  input.search-input {
    width: 200px;
  }
}

@media (min-width: 768px) {
  input.search-input {
    width: 60px;
  }
}
@media (min-width: 800px) {
  input.search-input {
    width: 90px;
  }
}
@media (min-width: 860px) {
  input.search-input {
    width: 150px;
  }
}

@media (min-width: 992px) {
  input.search-input {
    width: 270px;
  }
}
