.userImage {
	width: 20px;
}
.review {
	display: flex;
	align-items:center ; 
	flex-flow: row;
	margin: 0 5px;
	background-color: rgba(161, 160, 231, 0.171); 
	border-radius: 10px;
	padding-left: 10px;
	border: solid 2px white; 
	margin: 1px; 
}
#closeButton {
	margin: 10px;
	width: 20px; 
}
#closeButton:hover {
	transform:scale(1.3, 1.3) ;
}
.userName {
	margin-left: 5px;
	overflow: circle;
}

.reviewBody {
	width: 75%; 
	border: 1px solid;
	border-radius: 8px;
	margin-left: 5px;
	padding: 5px;
	overflow: circle;
	text-align: justify;
}
