.home-container {
  float: left;
  width: 50%;
  font-family: "Open Sans", sans-serif;
  margin-left: 40px;
  margin-top: 0px;
  margin-bottom: 20px;
  color: azure;
}
h1 {
  margin-bottom: 60px;
  padding-left: 30px;
  font-size: 25px;
}
.home-container__divAvatar {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.home-container__avatar {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}
p {
  font-size: 25px;
  font-weight: 600;
  padding-left: 20px;
}
.home-container__avatarImg {
  border-radius: 50%;
  max-width: 5rem;
  height: 5rem;
}

@media (max-width: 375px) {
  .home-container {
    width: 300px;
    margin-left: 10px;
    margin-top: 0px;
  }
  h1 {
    margin-bottom: 30px;
    font-size: 1rem;
    padding-top: 10px;
    padding-left: 10px;
  }
  .home-container__divAvatar {
    text-align: left;
    display: flex;
    flex-direction: column;
  }
  .home-container__avatar {
    margin-bottom: 10px;
  }

  .home-container__avatarImg {
    border-radius: 50%;
    width: 8rem;
    height: 3rem;
  }
  p {
    font-size: 15px;
    font-weight: 500;
    padding-left: 10px;
    margin-top: 5px;
  }
}
