.authentication__header {
  color: white;
  text-align: center;
}

.authentication {
  float: right;
  width: 90%;
  max-width: 25rem;
  margin-top: 0rem  ;
  margin-right: 15rem;
  text-align: center;
}

.authentication form {
  margin-bottom: 1rem;
}

@media (max-width:375px){

  .authentication {
    max-width: 15rem;
    margin: 1.25rem 4rem ;
}
  


}